body{
   
    font-family: Lato;
    text-decoration: none;
}

.dtw{
   border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    background-color: white;
    color: black;
    padding-block-start: -10px;
}

.titleHead{
    font-size: x-large;
    font-weight: bolder;
    
}